groups:
  - name: alertmanager_requests
    rules:
    - alert: HighHTTPRequestRate
      expr: rate(alertmanager_http_request_duration_seconds_count[5m]) > 10
      for: 1m
      labels:
        severity: warning
      annotations:
        summary: High HTTP request rate to Alertmanager
        description: The rate of HTTP requests to Alertmanager is higher than 10 per second.
  - name: latency-alert
    rules:
    - alert: HighRequestLatency
      expr: histogram_quantile(0.95, rate(http_request_duration_seconds_bucket[5m])) > 0.5
      for: 5m
      labels:
        severity: warning
      annotations:
        summary: "95th percentile latency is high"
        description: "The 95th percentile latency is > 0.5s for the last 5 minutes."
  - name: saturation-alerts
    rules:
    - alert: HighCPUUsage
      expr: avg(rate(node_cpu_seconds_total{mode="user"}[5m])) by (instance) > 0.85
      for: 5m
      labels:
        severity: warning
      annotations:
        summary: "High CPU usage"
        description: "The average CPU usage is above 85% for 5 minutes"
    - alert: DiskAlmostFull
      expr: node_filesystem_free_bytes / node_filesystem_size_bytes < 0.1
      for: 10m
      labels:
        severity: critical
      annotations:
        summary: "Disk space is almost full"
        description: "The disk space is below 10%"